.nav-link{
  margin-inline: 10px !important;
  border-bottom: 2px solid transparent !important;
  transition: 0.3s all ease-in;
}
.nav-link:hover{
  border-color: white !important;
  transition: 0.3s all ease-in;
}
i.fa.fa-bars{
  outline: none;
}
i.fa.fa-bars:focus{
  outline: none;
}
.offcanvas{
  width: 250px !important;
}
.checkout{
  background: rgba(255, 255, 255, 0.85)  !important;
}
.main-checkout{
  background: url("./images/michael-payne-IRhVLvPkP9M-unsplash.jpg");;
  background-size: cover !important;
  padding-bottom: 100px !important;
}

.MuiSvgIcon-root.MuiStepIcon-root{
  color:green !important;
}
.MuiStepConnector-line.MuiStepConnector-lineHorizontal{
  border-color: black !important;
}
.row{
  --bs-gutter-x : 0rem !important;
}
