.nav-link{
  margin-inline: 10px !important;
  border-bottom: 2px solid transparent !important;
  transition: 0.3s all ease-in;
}
.nav-link:hover{
  border-color: white !important;
  transition: 0.3s all ease-in;
}